@charset "UTF-8";

main {
	display: flex;
	justify-content: center;
	justify-items: center;	
    flex-direction: column;	
    align-items: center;	
	
}
/*.signup-conteiner{
	display: flex;
	justify-content: center;
	justify-items: center;
    align-items: center;	
}*/
.inputs {
	display: flex;
	justify-content: center;
	justify-items: center;
    flex-direction: column;	
    align-items: center;	
}

.formlist {
	width: auto;
	height: auto;
	display: flex;
    flex-direction: column;	
	border: solid 1px gray;
	margin: 5px;
}
.input {
	width: 365px;
	height: 55px;
	border: none;
	border-bottom: solid 1px gray;
}
.signup-container > .inputs > .formlist > .input:focus {
  border: 2px solid #0000ff;
  background-color: rgb(147, 255, 147); 
}
#formbutton {
	width: 365px;
	height: 55px;
	border: none;
	background-color: darkgreen;
	color: azure;
	font-size: 18px;
}