<!DOCTYPE html>
<html>
	<th:block th:fragment="common-head">
		<meta charset="UTF-8">
		<title>My layout</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/common/common.css" />
		<link rel="stylesheet" href="/css/common/header.css" />
		<link rel="stylesheet" href="/css/common/footer.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">

	</th:block>
	<header>
		<h1>헤더섹션</h1>
		<div class="wrap">
			<section id="h-1">
				<h1>1</h1>
				<div class="wrap view-size flex">
					<ul class="flex">
						<li><a href="#">즐겨찾기</a></li>
						<li><a href="#">회사안내</a></li>
						<li><a href="#">보드엠스토리</a></li>
					</ul>
					<ul class="flex">
						<li><a href="#">로그인</a></li>
						<li><a href="#">회원가입</a></li>
						<li><a href="#">고객센터</a></li>
					</ul>
				</div>
			</section>
		</div>
		<div class="wrap">
			<section>
				<h1>2</h1>
				<div class="wrap view-size"></div>
			</section>
		</div>
		<div class="wrap">
			<section>
				<h1>3</h1>
				<div class="wrap view-size"></div>
			</section>
		</div>
		<div class="wrap">
			<section>
				<h1>4</h1>
				<div class="wrap view-size"></div>
			</section>
		</div>
	</header>
	<!--==============================================-->
	<!--==============================================-->
	<footer>
		<h1>푸터섹션</h1>
		<div>
			<nav id="bbb">
				<li class="aaa"><a href="">홈</a></li>
				<div class="extra_line"></div>
				<li class="aaa"><a href="">회사소개</a></li>
				<div class="extra_line"></div>
				<li class="aaa"><a href="">이용약관</a></li>
				<div class="extra_line"></div>
				<li class="aaa"><a href="">개인정보취급방침</a></li>
				<div class="extra_line"></div>
				<li class="aaa"><a href="">이용안내</a></li>
				<div class="extra_line"></div>
				<li class="aaa"><a href="">고객센터</a></li>
			</nav>
			<ul>
				<li class="copyright_info">주식회사 보드엠</li>
				<li class="copyright_info">070-7720-0145</li>
				<li class="copyright_info">대표:유재혁 사업자등록번호: [000-00-00000]</li>
				<li class="copyright_info">전화번호:000-0000-0000 	(오전10시-오후3시) 팩스번호:02-6937-0145 주소:경기 고양시 덕양구 향동로 201 GL메트로시티813호</li>
				<li class="copyright_info">개인정보관리자:구민주 통신판매업번호:제 2020-고양덕양구-1424호</li>
				<li class="copyright_info">Contact 메일: settler@boardm.co.kr for more information.</li>
				<li class="copyright_info">ⓒ 2023 boardm. All rights reserved designed & managed by ZNS.</li>
			</ul>
			
		</div>
		<div class="wrap"></div>
	</footer>
</html>