<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="commonLayout(head, main)">
	<head>
		<meta charset="UTF-8">
		<title>My layout</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<th:block th:replace="~{layout/common::common-head}">페이지마다 적용될 헤더</th:block>
		<th:block th:replace="${head}">페이지마다 적용될 css,js resource</th:block>
	</head>
	<body>
		<th:block th:replace="~{layout/common::header}" >header적용</th:block>
		<th:block th:replace="${main}">main섹션 적용</th:block>
		<th:block th:replace="~{layout/common::footer}" >footer섹션 적용</th:block>
	</body>
</html>