<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/signup/signup03.css" />
</head>
<body>
	<main>
		<div class="signup-container">
			<h1>가입정보입력</h1>
			<form action="" method="post" class="inputs">
				<div class="formlist">
					<input type="text" name="password" placeholder="이메일(아이디)" class="input"/>
					<input type="text" name="password" placeholder="비밀번호" class="input"/>
					<input type="text" name="password" placeholder="비밀번호확인" class="input"/>
				</div>
				<div class="formlist">
					<input type="text" name="username" placeholder="이름" class="input"/>
					<input type="text" name="username" placeholder="생년월일" class="input"/>
				</div>
				<div>
					<input type="submit" value="가입요청" id="formbutton">
				</div>
			</form>
		</div>
	</main>
</body>
</html>