@charset "UTF-8";

footer {
	margin-top: 50px;
	margin-bottom: 50px;
}
#bbb {
	display: flex;
	background-color: rgb(70, 70, 70);
	justify-content: center;
	justify-items: center;	
	padding-top: 30px;
	padding-bottom: 30px;
}
.aaa {
	padding: 5px;
	margin: 5px;
}
.aaa > *{
	color: azure;
	font-size: 18px;
    text-decoration-line: none;
}
.extra_line::before{
	padding: 10px;
	content: '|';
	color: #8d99ae;
	font-size: 18px;
}
.copyright_info {
	display: block;
	color: #8d99ae;
	font-size: 14px;
}